<div class="container">
	<div class="container__logo">
		<img ngSrc="assets/logo.svg" priority height="64" width="58" alt="logo" />
		<h1 class="container__logo-label">SENSE</h1>
	</div>

	<div class="container__password">
		<div class="form__group field">
			<input
				class="form__field"
				type="text"
				placeholder="Password"
				name="password"
				id="password"
				[formControl]="passwordControl"
			/>
			<label for="password" class="form__label">Password</label>
		</div>
	</div>

	<div
		class="container__password-strength"
		[ngClass]="!passwordControl.errors?.['minlength'] && passwordControl.errors?.['passwordStrength']"
		[class.too-short]="!!passwordControl.errors?.['minlength']"
	>
		<div class="progress-bar"></div>
		<div class="progress-bar"></div>
		<div class="progress-bar"></div>
	</div>
</div>
