@import "/assets/scss/variables";

:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &-label {
      margin: 0;
      font-size: 32px;
      font-weight: 600;
      color: $red;
    }
  }
  &__password {
    &-strength {
      display: flex;
      gap: 5px;

      &.too-short {
        .progress-bar {
          background: $red;
        }
      }

      &.easy {
        :nth-child(1) {
          background: $red;
        }
      }

      &.medium {
        :nth-child(1), :nth-child(2) {
          background: $yellow;
        }
      }

      &.strong {
        :nth-child(1), :nth-child(2), :nth-child(3) {
          background: $green;
        }
      }

      .progress-bar {
        flex: 1;
        height: 10px;
        background: $gray;
        transition: background-color 120ms ease-in-out;
        border-radius: 3px;
      }
    }
  }
}
